.eagle_mc_container {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:none;
    z-index: 10;
}

.eagle_state_window_dragging .eagle_mc_container {
    display: flex;
}

.eagle_mc_container_disabled {
    display: none !important;
}

.eagle_mc_widget {
    margin: auto;
    opacity: 0;
}

.eagle_state_window_dragging .eagle_mc_container:hover .eagle_mc_widget {
    opacity: 1;
}

.eagle_mc_widget_core {
    position: relative;
    width:170px;
    height:170px;
}

.eagle_mc_btn {
    opacity: 0.5;
    transition: all ease-out 50ms;
}

.eagle_mc_btn:hover {
    opacity: 1;
}

.eagle_mc_btn_new {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    background-color: #3882dc;
    border-radius: 10px;
}

.eagle_mc_btn_new:hover {
    transform:scale(1.1);
}

.eagle_mc_btn_w {
    position:absolute;
    top:35%;
    bottom:35%;
    left:0;
    right:51%;
    background-image:url(assets/dock_w.svg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

.eagle_mc_btn_e {
    position: absolute;
    top: 35%;
    bottom: 35%;
    right: 0;
    left: 51%;
    background-image: url(assets/dock_e.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.eagle_mc_btn_n {
    position: absolute;
    left: 35%;
    right: 35%;
    top: 0;
    bottom: 51%;
    background-image: url(assets/dock_n.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.eagle_mc_btn_s {
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 0;
    top: 51%;
    background-image: url(assets/dock_s.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}